body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 4% 10% 10% 10%;
  min-height: 75vh;
}

.main-topics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .topic-card {
    margin: 4% 4% 4% 0;
  }
}

.slim-card {
  padding: 20px;
  margin: 10px;
  border: 1px solid lightgray;
}

.footer {
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
