body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 4% 20% 15% 20%;
  min-height: 75vh;
}

.main-topics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .topic-card {
    margin: 4% 4% 4% 0;
  }
}

.slim-card-img {
  width: 25%;
  height: auto;
}

.go-to-course {
  margin: 30px 30px 30px 0;
}

.tags {
  margin: 20px 10px 30px 0;
}

.footer {
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
