body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 4% 10% 10% 10%;
}

.main-topics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .topic-card {
    margin: 4% 4% 4% 0;
  }
}
